<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.StudentMapper">
    <update id="updateById">
        update student
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null and name!=''">name = #{name},</if>
            <if test="no!=null and no!=''">no = #{no},</if>
            <if test="gender!=null and gender!=''">gender = #{gender},</if>
            <if test="phone!=null and phone!=''">phone = #{phone},</if>
            <if test="idCard!=null and idCard!=''">id_card = #{idCard},</if>
            <if test="isCollege!=null and isCollege!=''">is_college = #{isCollege},</if>
            <if test="address!=null">address = #{address},</if>
            <if test="degree!=null">degree = #{degree},</if>
            <if test="graduationDate!=null">graduation_date = #{graduationDate},</if>
            <if test="clazzId!=null and clazzId!=''">clazz_id = #{clazzId},</if>
            <if test="violationCount!=null and violationCount!=''">violation_count = violation_count+1,</if>
            <if test="violationScore!=null and violationScore!=''">violation_score = violation_score+#{deductScore},</if>
                <if test="createTime!=null">create_time = #{createTime},</if>
                <if test="updateTime!=null">update_time = #{updateTime},</if>
            </trim>
            where
                id=#{id}
        </update>

    <!--    <update id="handleViolation">-->
<!--        update student-->
<!--        set-->
<!--            <if test="violationCount!=null and violationCount!=''">violation_count = violation_count+1,</if>-->
<!--            <if test="violationScore!=null and violationScore!=''">violation_score = violation_score+#{deductScore}</if>-->
<!--        where-->
<!--            id=#{studentId}-->
<!--    </update>-->

    <delete id="deleteByIds">
        delete from student where id in
                                    <foreach collection="ids" item="id" separator="," open="(" close=")">
                                        #{id}
                                    </foreach>
    </delete>

    <select id="list" resultType="org.example.pojo.Student">
        select s.*,c.name clazzName
        from student s
        left join clazz c on s.clazz_id=c.id
        <where>
            <if test="name!=null and name!='' ">
                s.name like concat('%',#{name},'%')
            </if>
            <if test="degree!=null">
                and s.degree=#{degree}
            </if>
        </where>
        order by s.update_time desc
    </select>

    <select id="countStudentDegreeData" resultType="java.util.Map">
        select
             case when degree=1 then '初中'
                  when degree=2 then '高中'
                  when degree=3 then '大专'
                  when degree=4 then '本科'
                  when degree=5 then '硕士'
                  when degree=6 then '博士'
                  else '其他'
             end as degrees,
            count(*) value
        from student
        where degree is not null
        group by degree
    </select>
</mapper>